* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .imgIcon {
  height: 41px;
}
header a h1 img {
  width: 110px;
  margin: 15px 60px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin: 15px 10px;
}
header ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #181b21;
}
header .header__r ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__r ul li {
  list-style: none;
  margin: 10px 20px;
  cursor: pointer;
}
header .header__r ul li a {
  text-decoration: none;
  margin: 20px;
  color: #181b21;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  z-index: 5;
  display: none;
  transition: 0.2s;
}

.blur.active {
  display: block;
}

nav {
  position: fixed;
  height: 100vh;
  right: -14%;
  background-color: #fff;
  transition: 0.2s;
  width: 14%;
}
nav .navBarEn {
  margin-left: 31px;
}
nav ul {
  margin-top: 65px;
}
nav ul li a {
  color: #181b21;
  text-decoration: none;
}
nav ul li {
  margin-left: 30px;
  margin-bottom: 10px;
  list-style: none;
}
nav .closeBtn {
  position: absolute;
  right: 24px;
  top: 14px;
  cursor: pointer;
}
nav .closeBtn img {
  width: 24px;
}
nav ul li a svg {
  width: 30px;
}
nav .svgIcon {
  display: flex;
  align-items: center;
}

.show {
  z-index: 10;
  right: 0%;
}

section {
  height: 100vh;
  width: 100%;
}

.sections {
  top: 116%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  align-items: center;
}

#sectionOne {
  background-image: url(../img/M3-Homepage-D.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#sectionOne .sectionOneContent {
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  align-items: center;
}
#sectionOne .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionOne .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionOne .sectionOneContent a span {
  border-bottom: 2px solid #5c5d61;
}
#sectionOne .sectionBuy {
  position: absolute;
  bottom: 3%;
  text-align: center;
  left: 37%;
}
#sectionOne button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionOne button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionOne button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#sectionOne .bounce-arrow {
  margin-top: 20px;
  animation: bounce 0.9s infinite alternate;
  cursor: pointer;
}
#sectionOne svg {
  max-width: 24px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-3px);
  }
}
#sectionTwo {
  background-image: url(../img/Desktop-ModelY.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sectionTwo .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionTwo .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionTwo button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionTwo button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionTwo button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#sectionTwo .modelY {
  position: absolute;
  bottom: -90%;
  text-align: center;
  left: 37%;
}
#sectionTwo .sectionOneContent a span {
  border-bottom: 2px solid #5c5d61;
}

#sectionThree {
  background-image: url(../img/ms-homepage-desktop.jpg);
  background-position: center center;
  background-size: cover;
}
#sectionThree .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionThree .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionThree button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionThree button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionThree button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#sectionThree .sectionOneContent a span {
  border-bottom: 2px solid #5c5d61;
}
#sectionThree .modelS {
  position: absolute;
  bottom: -190%;
  text-align: center;
  left: 37%;
}
#sectionThree .sectionsM {
  top: 219%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  align-items: center;
}

#sectionFour {
  background-image: url(../img/ModelX-Homepage-D.jpg);
  background-position: center center;
  background-size: cover;
}
#sectionFour .sectionMX {
  position: absolute;
  bottom: -229%;
  text-align: center;
  left: 43%;
}
#sectionFour .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionFour .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionFour button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionFour button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionFour button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#sectionFour .sectionOneContent a span {
  border-bottom: 2px solid #5c5d61;
}
#sectionFour .modelX {
  position: absolute;
  bottom: -290%;
  text-align: center;
  left: 37%;
}

#sectionFive {
  background-image: url(../img/_25-HP-SolarPanels-D.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
#sectionFive .modelSP {
  position: absolute;
  bottom: -388%;
  text-align: center;
  left: 37%;
}
#sectionFive .sectionSP {
  position: absolute;
  bottom: -330%;
  text-align: center;
  left: 43%;
}
#sectionFive .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionFive .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionFive button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionFive button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionFive button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

#sectionSix {
  background-image: url(../img/HP-SR-Design-D.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
#sectionSix .sectionSR {
  position: absolute;
  bottom: -428%;
  text-align: center;
  left: 43%;
}
#sectionSix .modelSR {
  position: absolute;
  bottom: -490%;
  text-align: center;
  left: 36%;
}
#sectionSix .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionSix .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionSix button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionSix button:nth-child(2) {
  background-color: #fff;
  color: #181b21;
  margin-left: 30px;
}
#sectionSix button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

#sectionSeven {
  background-image: url(../img/Desktop-Accessories.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
#sectionSeven .modelAC {
  position: absolute;
  bottom: -583%;
  text-align: center;
  left: 44%;
}
#sectionSeven .sectionAC {
  position: absolute;
  bottom: -523%;
  text-align: center;
  left: 44%;
}
#sectionSeven .sectionOneContent a {
  color: #181b21;
  text-decoration: none;
}
#sectionSeven .sectionOneContent h2 {
  font-weight: bold;
  font-size: 3rem;
}
#sectionSeven button:nth-child(1) {
  background-color: #5c5d61;
  color: #fff;
}
#sectionSeven button {
  width: 240px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #5c5d61;
  margin: 10px;
  font-size: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
