* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
$primary: #181b21;
$secondary: #5c5d61;
$whiteTxt: #fff;
$hide: none;

@mixin flex ($dis, $just, $align) {
    display:  $dis;
    justify-content: $just;
    align-items: $align;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include flex(flex, space-between, center);
    .imgIcon {
        height: 41px;
    }
    a h1 img {
        width: 110px;
        margin: 15px 30px;
    }
    ul {
        @include flex(flex,center ,center);
    }
    ul li {
        list-style: $hide;
        transition: .4s;
        padding: 10px 15px;
    }

    ul li a {
        text-decoration: $hide;
        color: $primary; 
    }
    ul li:hover {
        background-color: hsla(0,0%,0%,.05);
        border-radius: 100px;
        padding: 10px 15px;
    }

    .header__r {
        ul {
            margin-right: 20px;
            @include flex(flex,center ,center);
        }
        ul li {
            list-style: $hide;
            margin-top: 10px;
            cursor: pointer;
        }
        ul li a {
            text-decoration: $hide;
            color: $primary;
        }
    }
}
.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    z-index: 5;
    display: none;
    transition: .2s;

}
.blur.active {
    display: block;
}
nav {
    position: fixed;
    height: 100vh;
    right: -14%;
    background-color: $whiteTxt;
    transition: .2s;
    width: 14%;
    .linksResponsive {
        display: none;
    }
    .navBarEn {
        margin-left: 31px;
    }
    ul {
        margin-top: 65px;
    }
    ul li a {
        color: $primary;
        text-decoration: $hide;
    }
    ul li {
        margin-left: 30px;
        margin-bottom: 10px;
        list-style: $hide;
    }
    .closeBtn {
        position: absolute;
        right: 24px;
        top: 14px;
        cursor: pointer;
    }
    .closeBtn img {
        width: 24px;
    }
    ul li a svg {
        width: 30px;
    }
    .svgIcon {
        display: flex;
        align-items: center;
    }
}
.show {
    z-index: 10;
    right: 0%;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .title-box {
        margin-top: 123px;
        text-align: center;
        .section-title {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }
}
.bounce {
    animation: bounce .9s infinite alternate;
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(-3px);
    }
}
.bottom-section {
    .cta-container {
        @include flex(flex, center, center);
        margin-bottom: 20px;
        .btn {
            margin: 8px;
            cursor: pointer;
        }
    }
    .bounce-arrow {
        display: flex;
        justify-content: center;
        margin: 0 0 20px;
    }
    svg {
        max-width: 24px;
        cursor: pointer;
    }
}
.title-box{
    p {
        a {
            color: $primary;
            text-decoration: $hide;
            border-bottom: 1px solid $primary;
            transition: .1s;
        }
        a:hover {
            border-bottom: 2px solid $primary;
        }
    }
}
.btn {
    display: inline-block;
    border-radius: 100px;
    min-width: 256px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: $hide;
    text-align: center;
    padding: 10px;
}
.btn-dark {
    background-color: $secondary;
    opacity: .9;
    color: $whiteTxt;
}
.btn-light {
    background-color: $whiteTxt;
    color: $secondary;
}
.sectionOne {
    background-image: url(../img/M3-Homepage-D.jpg);
}
.sectionTwo {
    background-image: url(../img/Desktop-ModelY.jpg);
}
.sectionThree {
    background-image: url(../img/ms-homepage-desktop.jpg);
}
.sectionFour {
    background-image: url(../img/ModelX-Homepage-D.jpg);
}
.sectionFive {
    background-image: url(../img/_25-HP-SolarPanels-D.jpg);
}
.sectionSix {
    background-image: url(../img/HP-SR-Design-D.jpg);
}
.sectionSeven {
    background-image: url(../img/Desktop-Accessories.jpg);
}
footer {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    ul li {
        list-style: none;
    }
    ul li a {
        text-decoration: $hide;
        color: $secondary;
        margin: 10px;
        font-size: .8rem;
    }
}
@media (max-width: 1200px) {
    nav .linksResponsive {
        display: block;
    }
    .responsiveLink {
        display: none;
    }
    nav {
        width: 33%;
        right: -33%;
    }
    #menuBtn {
        background-color: hsla(0,0%,0%,.05);
        border-radius: 100px;
        margin: 11px 3px;
    }
}

@media (max-width: 767px) {
    .cta-container {
        flex-direction: column;
    }
    footer {
        ul {
            flex-direction: column;
            align-items: center;
        }

    }
}
@media (max-width: 580px) {
    nav {
        overflow-y: auto;
        width: 44%;
        right: -44%;
    }
}
@media (max-width: 410px) {
    nav {
        overflow-y: auto;
        width: 55%;
        right: -55%;
    }
}
