* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .imgIcon {
  height: 41px;
}
header a h1 img {
  width: 110px;
  margin: 15px 30px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  transition: 0.4s;
  padding: 10px 15px;
}
header ul li a {
  text-decoration: none;
  color: #181b21;
}
header ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 10px 15px;
}
header .header__r ul {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__r ul li {
  list-style: none;
  margin-top: 10px;
  cursor: pointer;
}
header .header__r ul li a {
  text-decoration: none;
  color: #181b21;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  z-index: 5;
  display: none;
  transition: 0.2s;
}

.blur.active {
  display: block;
}

nav {
  position: fixed;
  height: 100vh;
  right: -14%;
  background-color: #fff;
  transition: 0.2s;
  width: 14%;
}
nav .linksResponsive {
  display: none;
}
nav .navBarEn {
  margin-left: 31px;
}
nav ul {
  margin-top: 65px;
}
nav ul li a {
  color: #181b21;
  text-decoration: none;
}
nav ul li {
  margin-left: 30px;
  margin-bottom: 10px;
  list-style: none;
}
nav .closeBtn {
  position: absolute;
  right: 24px;
  top: 14px;
  cursor: pointer;
}
nav .closeBtn img {
  width: 24px;
}
nav ul li a svg {
  width: 30px;
}
nav .svgIcon {
  display: flex;
  align-items: center;
}

.show {
  z-index: 10;
  right: 0%;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  scroll-snap-align: start;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.section-container .title-box {
  margin-top: 123px;
  text-align: center;
}
.section-container .title-box .section-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.bounce {
  animation: bounce 0.9s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-3px);
  }
}
.bottom-section .cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.bottom-section .cta-container .btn {
  margin: 8px;
  cursor: pointer;
}
.bottom-section .bounce-arrow {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.bottom-section svg {
  max-width: 24px;
  cursor: pointer;
}

.title-box p a {
  color: #181b21;
  text-decoration: none;
  border-bottom: 1px solid #181b21;
  transition: 0.1s;
}
.title-box p a:hover {
  border-bottom: 2px solid #181b21;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  min-width: 256px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.btn-dark {
  background-color: #5c5d61;
  opacity: 0.9;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #5c5d61;
}

.sectionOne {
  background-image: url(../img/M3-Homepage-D.jpg);
}

.sectionTwo {
  background-image: url(../img/Desktop-ModelY.jpg);
}

.sectionThree {
  background-image: url(../img/ms-homepage-desktop.jpg);
}

.sectionFour {
  background-image: url(../img/ModelX-Homepage-D.jpg);
}

.sectionFive {
  background-image: url(../img/_25-HP-SolarPanels-D.jpg);
}

.sectionSix {
  background-image: url(../img/HP-SR-Design-D.jpg);
}

.sectionSeven {
  background-image: url(../img/Desktop-Accessories.jpg);
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #5c5d61;
  margin: 10px;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  nav .linksResponsive {
    display: block;
  }

  .responsiveLink {
    display: none;
  }

  nav {
    width: 33%;
    right: -33%;
  }

  #menuBtn {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    margin: 11px 3px;
  }
}
@media (max-width: 767px) {
  .cta-container {
    flex-direction: column;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 580px) {
  nav {
    overflow-y: auto;
    width: 44%;
    right: -44%;
  }
}
@media (max-width: 410px) {
  nav {
    overflow-y: auto;
    width: 55%;
    right: -55%;
  }
}

/*# sourceMappingURL=styles.css.map */
